extends layout

block content
  h2 Welcome to Hell
  h3 Share a tweet
  form(action='/', method='POST')
    textarea(name="tweet", rows=3, columns=50)
    input(type='submit', content='Sends')

  ul
    - each tweet in tweets
      li= tweet
