doctype html
html
head
    meta(charset='utf-8')
    link(rel='stylesheet', href='style_first_page.css')
    title MiniTwr
    body
    #bloc_page
      img#logo(src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ5jTSinwBbzqLwDe1IqTH-aKiPePXSnVjd7gl60OGM8XqN19Bo1w', alt='Logo de page')
      header
        h1.header1 Welcome to MiniTwr
        h2.header2 The best twttr there is!!
        p.paragraph1
        section
         Here you can
        #liste1
          ul
            li Find friends
                  
            li Share your thoughts
                  
            li Get the latest news from celebs

aside
    #loging_in
        h2 Come and join a growing community with people just like you !
         
      form(name='login')
      Username
      input(type='text', name='userid')            
      Password
      input(type='password', name='pswrd')            
      input(type='button', onclick='check(this.form)', value='Login' action="index1.jade")            
      input(type='reset', value='Cancel')

script(language='javascript').
    function check(form) { /*function to check userid & password*/
      /*the following code checkes whether the entered userid and password are matching*/
      if(form.userid.value == "kristi" && form.pswrd.value == "kristi") {
      window.open('/index1.jade')/*opens the target page while Id & password matches*/
      }
      else {
      alert("Error Password or Username")/*displays error message*/
      }
      }

    p
footer
      #first_block
        p Failure is not falling down but refusing to get up       
      #Useful_links
      h1 Support
        ul
          li
            a(href='<a href=') Contact me         
          li
            a(href='https://www.google.fr/?gfe_rd=cr&ei=W7RVVbjiNoeZ1AXc2oCgCw') Google search      
          li
            a(href='') Settings  

